body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.row {
  display: flex;
}

.board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.square {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(215, 215, 215);
  border-top: 1px solid rgb(215, 215, 215);
  border-left: 1px solid rgb(215, 215, 215);
}

.square-0 {
  background-color: black;
  border-bottom: 1px solid rgb(32, 32, 32);
  border-right: 1px solid rgb(32, 32, 32);
  border-top: 1px solid rgb(32, 32, 32);
  border-left: 1px solid rgb(32, 32, 32);
}

.square-1 {
  background-color: #00d;
}

.square-2 {
  background-color: green;
}

.square-3 {
  background-color: red;
}

.score-label {
  font-weight: bold;
}

.score-label {
  font-weight: bold;
}

.game-container {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}